@model Licencjat.Models.Dish

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dish</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Kcal
        </dt>
        <dd class="col-sm-10">
            @Model.Kcal
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
            <img src="@Model.ImagePath" alt="@Model.Name" width="200" />
            }
        </dd>
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">
            @foreach (var dishTag in Model.DishTags)
            {
            <span>@dishTag.Tag.Name</span><br />
            }
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <dd class="col-sm-10">
            @foreach (var dishIngredient in Model.DishIngredients)
            {
            <span>@dishIngredient.Ingredient.Name (@dishIngredient.Ingredient.Kcal Kcal/100g)</span><br />
            }
        </dd>
    </dl>
</div>
