@model Licencjat.Models.Dish

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Kcal
        </dt>
        <dd class="col-sm-10">
            @Model.Kcal
        </dd>
        <dt class="col-sm-2">
            Tags
        </dt>
        <dd class="col-sm-10">
            @foreach (var dishTag in Model.DishTags)
            {
            <span>@dishTag.Tag.Name</span><br />
            }
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <dd class="col-sm-10">
            @foreach (var dishIngredient in Model.DishIngredients)
            {
            <span>@dishIngredient.Ingredient.Name (@dishIngredient.Ingredient.Kcal Kcal/100g)</span><br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>